
<router-outlet></router-outlet>

<div class="privacy-container">
  <div class="privacy-button">
    <button (click)="onClickPrivacySettings()" mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon">      
      <img src="/assets/images/icon_privacy_consent.png" style="width: 20px;" alt="">
    </button>
  </div>
</div>