

.privacy-container {
  z-index:5; 
  width: 100%;
  position: fixed; 
  display: flex; 
  align-self: flex-end; 
  justify-content: flex-end; 
  bottom: 1%; 
  margin-bottom: 20px;
}

.privacy-button {
  margin-right: 20px;
}