
<div class="page-content">
  <h3>
    <img src="/assets/images/icon_privacy_consent.png" style="width: 20px; margin-bottom: 10px;" alt="">
    Privacy Consent
  </h3>

  
  <p>Allow access your profile in device storage to show better content?</p>

  <br/>

  <div class="consent-toggle">
    <ul>
      <li><mat-slide-toggle [(ngModel)]="isActivityConsent" (change)="onToggleActivity($event)">Web & Apps activity</mat-slide-toggle></li>
      <li><mat-slide-toggle [(ngModel)]="isLocationsConsent" (change)="onToggleLocations($event)">Locations history</mat-slide-toggle></li>
      <li><mat-slide-toggle [(ngModel)]="isStreamingConsent" (change)="onToggleStreaming($event)">YouTube, twitch, etc..</mat-slide-toggle></li>
    </ul>
  </div>
  
  <br/>
  <br/>

  <div class="consent-button-group">
    <button (click)="onClickConsent()" class="consent-button" mat-button [disabled]="!isActivityConsent && !isLocationsConsent && !isStreamingConsent" color="primary">Accept</button>
    <button (click)="onClickDissent()" class="consent-button" mat-button color="primary">Reject All</button>
  </div>
</div>