@import '../../../../../variables';

// Drag&Drop feature does not work on material dialog due a bug
// This hack fixes it: https://github.com/angular/components/issues/14280
// ::ng-deep html.cdk-global-scrollblock {
//   top: 0px !important;
// }


.consent-all-section {
  margin-bottom: 16px;
}

.consent-button {
  align-items: flex-start;
}

ul {
  margin: 0px;
  padding-left: 0px;
}

li {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  border: solid 1px grey;
  margin: 3px 0;
}

.consent-button-group {
}

.consent-button {
  border-bottom: solid 1px black;
  margin-left: 16px;
}
