// src/theme.scss

// 👇 Importing `Work Sans` font for headings, you can change this if you want
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Raleway:wght@900&display=swap');


// 👇 1. Default theme
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// The warn palette is optional (defaults to red).

$custom-web-primary: mat-palette($mat-indigo);
$custom-web-accent: mat-palette($mat-pink, A200, A100, A400);
$custom-web-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$custom-web-theme: mat-light-theme((color: (primary: $custom-web-primary,
      accent: $custom-web-accent,
      warn: $custom-web-warn,
    )));

// 👇 2. Define an alternate dark theme.
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme((color: (primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
  ));

// 👇 3. Define a custom heading typography config
$heading-font-family: "'Raleway', 'Poppins', Roboto, Arial, Helvetica, sans-serif";
$default-font-family: "'Poppins', Roboto, Arial, Helvetica, sans-serif";
$typography: mat-typography-config(
  /* Custom typography settings */
  $font-family: "'Poppins', Roboto, Arial, Helvetica, sans-serif",
  $display-4: mat-typography-level(112px, $font-family: $heading-font-family),
  $display-3: mat-typography-level(56px, $font-family: $heading-font-family),
  $display-2: mat-typography-level(45px, $font-family: $heading-font-family),
  $display-1: mat-typography-level(34px, $font-family: $heading-font-family),
  $headline: mat-typography-level(24px, $font-family: $heading-font-family),
  $title: mat-typography-level(20px, $font-family: $heading-font-family),
);

